{% extends 'base.html.twig' %}

{% block title %}Contactez-nous | Flexibank{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/pages/ticket_create.css') }}" />

{% endblock %}

{% block body %}

    <!-- Affichage des messages flash -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

<div class="hero">
    <a href="{{ path('app_home') }}" class="back-button">
        ← Retour
    </a>
    <h1>Contactez-nous</h1>
    <p style="text-align: center; color:white;">
        Si vous avez des questions, des suggestions ou souhaitez obtenir plus d'informations,
        <span class="new-line" style="color:white;">n'hésitez pas à nous contacter en remplissant le formulaire ci-dessous.</span>
        <span class="new-line" style="color:white;">Nous vous répondrons dans les plus brefs délais.</span>
    </p>
</div>

<div class="container">
    {% if form is defined and form.vars.errors|length > 0 %}

        <div class="alert alert-danger">
            <ul>
                {% for error in form.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ path('ticket_create') }}" method="POST">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>

        <div class="form-group">
            {{ form_label(form.priority) }}
            {{ form_widget(form.priority) }}
            {{ form_errors(form.priority) }}
        </div>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>

        <div class="form-group">
            <button type="submit">Envoyer</button>
        </div>

        {{ form_end(form) }}
    </form>
</div>

{% endblock %}
