{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription | Flexibank{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/client/step3.css') }}" />

{% endblock %}

{% block body %}

<nav>
    <!-- Bouton "Étape précédente" utilisant JavaScript -->
    <button class="back-arrow" onclick="window.history.back();">
        <i class="fas fa-arrow-left"></i> Étape précédente
    </button>
    
    <h1>Flexibank</h1>
</nav>
<h1>Votre adresse postale </h1>
    {{ form_start(form) }}
        {{ form_widget(form.adressePostale, {'attr': {'placeholder': 'Veuillez saisir votre adresse postale'}}) }}
	{{ form_widget(form.ville, {'attr': {'placeholder': 'Veuillez saisir votre ville'}}) }}
	{{ form_widget(form.codePostal, {'attr': {'placeholder': 'Veuillez saisir votre code postale'}}) }}
        <button type="submit">Suivant</button>
    {{ form_end(form) }}
{% endblock %}
