<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="css/style.css" />

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T5SN4GNVY6"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-T5SN4GNVY6')
    </script>
  </head>

  {% set jury_mode = app.session.get('jury_mode') %}
  <body class="{% if app.user and 'ROLE_JURY' in app.user.roles and jury_mode in ['client', 'admin'] %}{% endif %}">
    {% block body %}

    {% endblock %}

    {% if app.request.get('_route') starts with 'app_login' %}
      <script src="{{ asset('js/security/login.js') }}"></script>
    {% endif %}

    {% if app.request.get('_route') starts with 'app_faq' %}
      <script src="{{ asset('js/pages/faq.js') }}"></script>
    {% endif %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
